---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="PDF Password Recovery, Crack & Remover Tool | PDF Ambulance - Free & Secure"
	description="Free PDF password recovery, crack and remover tool. Recover, crack or remove lost PDF passwords securely in your browser. 100% privacy-first - all processing happens locally on your device. No uploads, no data collection. Try now!"
>
	<h1>Welcome to {"<astrom project>"}</h1>
</Layout>
